<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Electric Vehicle Charging Stations Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/predictive-model">Predictive Model</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/analysis">Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">Meet The Team</a>
            </li>
        </ul>
    </div>
</nav>

    <body class="gradient-background"></body>

    <!-- Centered Text with Styling -->
    <div class="center-text">
        <h1 class="header-text">Electric Vehicle Charging Stations</h1>
    </div>


    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="image-container">
                    <div class="image-content">
                        <img src="{{ url_for('static', filename='assets/ev-station.jpg') }}" alt="EV Station">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-content">
                    <h2>Welcome to Our Project</h2>
                    <p>Welcome to our innovative project at the intersection of machine learning and sustainable technology! Our endeavor focuses on harnessing the power of predictive modeling to determine optimal locations for electric vehicle (EV) charging stations. Using sophisticated machine learning algorithms, we analyze diverse census data predictors to identify and map out strategic areas for these stations. Our goal is to enhance accessibility and convenience for EV users while contributing to a greener future. Join us on this exciting journey where technology meets sustainability!</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Other content can be placed here -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>