<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predictive Model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/predictive-model">Predictive Model</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/analysis">Analysis</a>
            </li>
        </ul>
    </div>
</nav>

    <body class="gradient-background"></body>

    <!-- Centered Text with Styling -->
    <div class="center-text">
        <h1 class="header-text">Predictive Model</h1>
    </div>
    
    <h1>Predictive Model</h1>
    <form method="POST">
        <label>Total EV Chargers:</label>
        <input type="number" name="total_ev_chargers" required><br><br>

        <label>Median Income:</label>
        <input type="number" name="median_income" required><br><br>

        <label>Total Population:</label>
        <input type="number" name="total_population" required><br><br>

        <label>City:</label>
        <input type="text" name="city" required><br><br>

        <input type="submit" value="Predict">
    </form>
    {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
    {% endif %}

    <!-- Other content can be placed here -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>      

</body>
</html>