<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predictive Model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/predictive-model">Predictive Model</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/analysis">Analysis</a>
            </li>
        </ul>
    </div>
</nav>

    <body class="gradient-background"></body>

<div class="center-text">
    <h1 class="header-text">Predictive Model</h1>
</div>

    <form class="predictive-form" method="POST">
        <label for="total_ev_chargers">Total EV Chargers:</label>
        <input type="number" id="total_ev_chargers" name="total_ev_chargers" required><br>

        <label for="median_income">Median Income:</label>
        <input type="number" id="median_income" name="median_income" required><br>

        <label for="total_population">Total Population:</label>
        <input type="number" id="total_population" name="total_population" required><br>

        <label for="city">City:</label>
        <input type="text" id="city" name="city" required><br>

        <input type="submit" value="Predict">
    </form>
    {% if prediction %}
        <h2>Prediction: {{ prediction }}</h2>
    {% endif %}

    <!-- Other content can be placed here -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>      

</body>
</html>