<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predictive Model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/predictive-model">Predictive Model</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/analysis">Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team">Meet The Team</a>
            </li>
        </ul>
    </div>
</nav>

    <body class="gradient-background"></body>

    <!-- Centered Text with Styling -->
    <div class="center-text">
        <h1 class="header-text">Predictive Model</h1>
    </div>

<!-- Dropdown within the body -->
<div class="container mt-5">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select State
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Alabama</a>
            <a class="dropdown-item" href="#">Alaska</a>
            <a class="dropdown-item" href="#">Arizona</a>
            <a class="dropdown-item" href="#">Arkansas</a>
            <a class="dropdown-item" href="#">California</a>
            <a class="dropdown-item" href="#">Colorado</a>
            <a class="dropdown-item" href="#">Connecticut</a>
            <a class="dropdown-item" href="#">Delaware</a>
            <a class="dropdown-item" href="#">Florida</a>
            <a class="dropdown-item" href="#">Georgia</a>
            <a class="dropdown-item" href="#">Hawaii</a>
            <a class="dropdown-item" href="#">Idaho</a>
            <a class="dropdown-item" href="#">Illinois</a>
            <a class="dropdown-item" href="#">Indiana</a>
            <a class="dropdown-item" href="#">Iowa</a>
            <a class="dropdown-item" href="#">Kansas</a>
            <a class="dropdown-item" href="#">Kentucky</a>
            <a class="dropdown-item" href="#">Louisiana</a>
            <a class="dropdown-item" href="#">Maine</a>
            <a class="dropdown-item" href="#">Maryland</a>
            <a class="dropdown-item" href="#">Massachusetts</a>
            <a class="dropdown-item" href="#">Michigan</a>
            <a class="dropdown-item" href="#">Minnesota</a>
            <a class="dropdown-item" href="#">Mississippi</a>
            <a class="dropdown-item" href="#">Missouri</a>
            <a class="dropdown-item" href="#">Montana</a>
            <a class="dropdown-item" href="#">Nebraska</a>
            <a class="dropdown-item" href="#">Nevada</a>
            <a class="dropdown-item" href="#">New Hampshire</a>
            <a class="dropdown-item" href="#">New Jersey</a>
            <a class="dropdown-item" href="#">New Mexico</a>
            <a class="dropdown-item" href="#">New York</a>
            <a class="dropdown-item" href="#">North Carolina</a>
            <a class="dropdown-item" href="#">North Dakota</a>
            <a class="dropdown-item" href="#">Ohio</a>
            <a class="dropdown-item" href="#">Oklahoma</a>
            <a class="dropdown-item" href="#">Oregon</a>
            <a class="dropdown-item" href="#">Pennsylvania</a>
            <a class="dropdown-item" href="#">Rhode Island</a>
            <a class="dropdown-item" href="#">South Carolina</a>
            <a class="dropdown-item" href="#">South Dakota</a>
            <a class="dropdown-item" href="#">Tennessee</a>
            <a class="dropdown-item" href="#">Texas</a>
            <a class="dropdown-item" href="#">Utah</a>
            <a class="dropdown-item" href="#">Vermont</a>
            <a class="dropdown-item" href="#">Virginia</a>
            <a class="dropdown-item" href="#">Washington</a>
            <a class="dropdown-item" href="#">West Virginia</a>
            <a class="dropdown-item" href="#">Wisconsin</a>
            <a class="dropdown-item" href="#">Wyoming</a>
        </div>
    </div>
</div>

    <!-- Other content can be placed here -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>      

</body>
</html>